body {
    background-color:lightgray;
}
.part1 {
    float: left;
    width: 50%;
    height: 800px;
    padding: auto;
    background-color: aliceblue;
}
.part2 {
    float: left;
    width: 50%;
    height: 800px;
    padding: auto;
    background-color: aliceblue;
}
.form-col {
    background-color: lightgray;
    margin: 5%;
}

.clearfix {
    clear: both;
}
.link {
    background-color: aliceblue;
}
ul {
    list-style-type: none;
    padding: 0%;
}
ul li  {
    display: inline-block;
}
ul li ul  {
    display: none;
}
ul li:hover ul {
    display: block;
    position: absolute;
}
ul li ul li {
    width: 100%;
}
a {
    text-decoration: none;    
}
a:hover {
    background-color: darkgoldenrod;
}
ul li ul li a {
    border-bottom: 1px solid cornflowerblue;
    background-color: rgb(167, 192, 238);
}
img {
    width: 100%;
    height: 20%;
}
table {
    width: 100%;
}
table tr td {
    border-bottom: 1px solid lightgreen;
    text-align: center;
}
/* table tr th {
position: relative;
} */

footer div {
    float: left;
    width: 33%;
    text-align: center;
}
@media (max-width: 1000px) {
    .part1, .part2 {
        width: 100%;
        float: left;
    }
}